[Unit]
Description=openfortivpn vpn service
Documentation=https://github.com/adrienverge/openfortivpn
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/openfortivpn

[Install]
WantedBy=multi-user.target

